.h2 Device Information
.container
  .row
    %dl.row
      %dt.col-sm-4 Serial Number
      %dd.col-sm-8= device.serial_number
      %dt.col-sm-4 Firmware Version
      %dd.col-sm-8= device.firmware_version
  .row
    %dt.col-sm-4
      = line_chart today_recorded_readings(device).group(:temperature).group_by_hour(:recorded_at).count, title: "Today Readings Temperature by Hours"
    %dt.col-sm-4
      = scatter_chart today_recorded_readings(device).pluck(:temperature, :humidity), xtitle: "Temperature", ytitle: "Humidity", title: "Today Temperature with Humidity"
    %dt.col-sm-4
      = area_chart device.readings.group_by_day(:recorded_at).maximum(:co_level), title: "CO2 Level by days"
